.MuiPickersDay-dayWithMargin {
  border-radius: 50%; /* 원형 날짜 버튼 */
}

.Mui-selected {
  background-color: #0231A6 !important; /* 선택된 날짜 색상 */
  color: white;
}

.MuiPickersDay-root:hover {
  background-color: #accbff; /* 호버 시 색상 */
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
