.web-link-container {
  width: 826px;
  height: 400px;
  display: flex;
  justify-content: space-between; /* To create a gap between cards */
  margin-bottom: 86px;
}

.card-button {
  width: 262px;
  height: 400px;
  background-color: #fff; /* Placeholder color */
  border-radius: 20px; /* Optional: to round the corners */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  text-align: left;

  text-decoration: none;
}

.card-button h1 {
  margin: 30px 30px 14px 30px;
  padding: 0;
  font-size: 18px;
}

.card-button h4 {
  margin: 0 30px 40px 30px;
  color: #a3aed0;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  font-style: normal;
}

.web-image {
  margin: 21px 21px 0 21px;
}
