body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forgot-password-container {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding: 2rem;
}

.forgot-password-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-blue);
  margin-bottom: 2rem;
}

.forgot-password-container label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.8rem;
  display: block;
  color: var(--text-gray5);
}

.forgot-password-container input,
.reset-password-button {
  width: 100%; /* 두 요소에 동일한 폭 설정 */
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  box-sizing: border-box; /* 패딩이 폭에 포함되도록 설정 */
}

.reset-password-button {
  font-family: "Pretendard", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border: none;
  cursor: pointer;
}

.reset-password-button:hover {
  background-color: var(--text-blue800);
}

.login-prompt {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  font-family: "Pretendard", Arial, sans-serif;
  color: var(--text-gray5);
}

.login-prompt a {
  color: var(--primary-blue);
  font-weight: 700;
  padding-left: 16px;
  font-size: 18px;
  text-decoration: none;
}

.forgot-password-container input {
  padding-left: 24px; /* 플레이스홀더를 오른쪽으로 살짝 이동 */
}

#phone {
  margin-bottom: 40px;
}
