body {
    font-family: 'Pretendard', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .forgot-password-container {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .forgot-password-container h2 {
    font-size: 36px;
    font-weight: bold;
    color: #2569ED;
    margin-bottom: 2rem;
  }
  
  .forgot-password-container label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .forgot-password-container input,
  .reset-password-button {
    width: 100%; /* 두 요소에 동일한 폭 설정 */
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* 패딩이 폭에 포함되도록 설정 */
  }
  
  .reset-password-button {
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #2569ED;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .reset-password-button:hover {
    background-color: #0033aa;
  }
  
  .login-prompt {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    font-family: 'Pretendard', Arial, sans-serif;
  }
  
  .login-prompt a {
    color: #2569ED;
    font-weight: 700;
    padding-left: 16px;
    font-size: 20px;
    text-decoration: none;
  }
  