body {
    font-family: 'Pretendard', Arial, sans-serif; /* 전체 폰트 Pretendard로 설정 */
  }

  .back-button {
    background: none; /* 배경 없애기 */
    border: none; /* 테두리 없애기 */
    font-size: 16px; /* 폰트 크기 설정 */
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
    color: #6B7698; /* 텍스트 색상 */
    cursor: pointer; /* 마우스 커서 포인터 모양으로 변경 */
    display: flex; /* 아이콘과 텍스트를 한 줄에 배치하기 위해 사용 */
    align-items: center; /* 아이콘과 텍스트 수직 가운데 정렬 */
    padding-left: 0; /* 왼쪽 여백 없애기 */
    padding-bottom: 40%;
  }
  
  .back-arrow {
    font-size: 20px; /* 화살표 크기 */
    font-family: 'Pretendard';
    margin-right: 10px; /* 화살표와 텍스트 사이 간격 */
  }
  
  .back-button:hover {
    text-decoration: none; /* 마우스를 올렸을 때 밑줄 추가 */
    color: #0033aa; /* 마우스를 올렸을 때 색상 변경 */
  }
  
  
  .login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    min-height: 900px;
    margin: 0px;
  }
  
  .login-form {
    width: 460px; /* 고정 폭 설정 */
    height: 100%; /* 고정 높이 설정 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    box-sizing: border-box;
    margin: 10%;
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
  }
  
  .login-form h2 {
    font-size: 36px;
    font-weight: bold;
    color: #2569ED;
    margin-bottom: 54px;
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
  }
  
  .login-form label {
    font-size: 16px;
    font-weight: 500; /* font-weight는 숫자로 지정하는 것이 좋음, 500은 Medium과 비슷한 굵기 */
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 410px;
    height: 50px;
    padding: 0.75rem;
    margin-bottom: 2rem;
    border-radius: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
  }
  
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .form-options .left-group {
    display: flex;
    align-items: center; /* 체크박스와 레이블을 같은 줄에 배치 */
  }
  
  .form-options .left-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 11px; /* 체크박스와 레이블 사이 간격 */
  }
  
  .form-options .left-group label {
    height: 12px;
    font-size: 14px;
    font-weight: medium;
    align-items: center;
  }
  
  .form-options a {
    margin-right: 20px;
    text-decoration: none; /* 필요에 따라 밑줄 제거 */
    color: #2569ED; /* 링크 색상 설정 */
  }
  
  .login-button {
    background-color: #2569ED;
    height: 54px;
    width: 410px;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
  }
  
  .login-button:hover {
    background-color: #0033aa;
  }
  
  .signup-prompt {
    margin-top: 2rem;
    font-size: 14px;
    text-align: left;
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
  }
  
  .signup-prompt a {
    color: #2569ED;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Pretendard'; /* 폰트 설정 */
  }
  
  .login-image {
    flex: 1;
    background-image: url('../assets/login-page-image.png'); /* 이미지 경로 설정 */
    background-size: cover;
    background-position: center;
    width: 965px;
    height: 100%;
    flex-shrink: 0;
    border-bottom-left-radius: 250px;
    position: relative; /* 버튼의 기준 위치를 이 요소로 설정 */
    min-width: 600px;
  }
  
  .info-button {
    position: absolute;
    top: 650px; /* 버튼을 로그인 이미지 하단에 배치 */
    left: 50%;
    transform: translateX(-50%);
    width: 471px;
    height: 125.67px;
    background-color: rgba(255, 255, 255, 0.1); /* 흰색 배경에 불투명도 적용 */
    border: none;
    border-radius: 28px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 1; /* 버튼을 이미지 위에 표시 */
  }

  .first {
    font-size: 18px;
    font-family: 'Pretendard', Arial, sans-serif;
    margin: 1rem;
  }

  .second{
    font-size: 40px;
    font-family: 'Pretendard', Arial, sans-serif;
    margin: 1rem;
  }
  
  .info-button:hover {
    background-color: rgba(255, 255, 255, 0.3); /* 마우스 호버 시 불투명도 제거 */
  }

  .logo-image {
    width: 337px; /* 원하는 크기로 설정 */
    height: auto; /* 이미지 비율 유지 */
    position: absolute; /* 이미지 위치 조정 */
    top: 220px; /* 이미지 위치: 위에서부터 20px */
    left: 50%; /* 가운데 정렬 */
    transform: translateX(-50%); /* 정확하게 가운데 정렬 */
    z-index: 1; /* 버튼과 겹칠 경우 이미지가 보이도록 설정 */
  }
  
  .service-text {
    font-size: 64px; /* 폰트 크기 설정 */
    font-weight: bold; /* 폰트 두께 설정 */
    font-family: 'Pretendard', Arial, sans-serif; /* 폰트 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    margin-top: 520px; /* 위쪽 간격 설정 */
    color: #fff; /* 원하는 색상 설정 */
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
