body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup-container {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 16px; /* 추가: signup-container에도 radius 적용 */
}

.signup-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-blue);
  margin-bottom: 2rem;
}

.signup-container label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.8rem;
  display: block;
  color: var(--text-gray5);
}

.signup-container input,
.signup-container textarea {
  width: 100%;
  padding: 0.75rem;
  padding-left: 24px; /* 플레이스홀더를 오른쪽으로 살짝 이동 */
  margin-bottom: 1.5rem;
  border-radius: 16px; /* 모든 input과 textarea에 radius 통일 */
  border: 1px solid var(--border-color);
  font-family: "Pretendard", Arial, sans-serif;
  box-sizing: border-box;
  resize: none; /* textarea 크기 조절 방지 */
}

.signup-container textarea {
  height: 100px; /* 높이를 조절하여 입력란을 더 넓게 */
  line-height: 1.5;
}

.signup-button {
  font-family: "Pretendard", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
  border-radius: 16px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border: none;
  border-radius: 16px; /* 버튼의 radius 통일 */
  cursor: pointer;
}

.signup-button:hover {
  background-color: var(--primary-blue);
}

.signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.home-button {
  font-size: 20px;
  font-family: "Pretendard", Arial, sans-serif;
  font-weight: 500;
  align-content: center;
  color: var(--primary-blue);
  text-decoration: none;
  border: 1px solid var(--primary-blue);
  border-radius: 16px; /* 홈 버튼도 radius 통일 */
  padding: 0.8rem;
}

.home-button:hover {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

/* 모든 input과 textarea의 placeholder 색상 변경 */
.signup-container input::placeholder,
.signup-container textarea::placeholder {
  color: var(--text-gray1); /* 원하는 색상으로 변경 */
  opacity: 1; /* 필요 시 플레이스홀더의 투명도를 조절 (기본값은 약간 투명함) */
}
