.video-stream-container {
  width: 826px;
  height: 520px;
  border-radius: 20px;
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  box-sizing: border-box;
}

/* 위 구역 */
.video-stream-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 28px;
}

.stream-title {
  color: var(--text-blue800);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
}

.mode-container {
  display: flex;
  align-items: center;
}

.mode-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.stream-mode {
  font-size: 20px;
  color: var(--text-gray2); /* 예시 색상 */
  margin: 0;
}

/* 아래 구역 */
.video-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 770px;
  height: 403px;
  border-radius: 20px;
  background-color: var(--background-gray); /* 기본 회색 배경 */
  position: relative;
  overflow: hidden;
}

.video-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 공간을 채우도록 설정 */
  border-radius: 20px;
}
 
.no-signal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--background-gray); /* 신호 없을 때의 배경색 */
  color: var(--primary-white); /* 신호 없음 텍스트 색상 */
  font-size: 24px;
}
