.mini-video-stream-container {
  width: 826px;
  height: 692x;
  border-radius: 20px;
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  box-sizing: border-box;
}

.video-stream-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  height: 28px;
}

.stream-title {
  color: var(--text-blue800);
  font-size: 24px;
  font-weight: normal;
  font-weight: 600;
  line-height: 100%;
}

.mode-container {
  display: flex;
  align-items: center;
}

.mode-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.stream-mode {
  font-size: 20px;
  color: var(--text-gray2);
}

.video-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 770px;
  height: 571px;
  border-radius: 20px;
  background-color: var(--background-gray);
  object-fit: cover;
  position: relative;
}

.video-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.no-signal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--background-gray); /* 신호 없을 때의 배경색 */
  color: var(--primary-white); /* 신호 없음 텍스트 색상 */
  font-size: 24px;
}
