.alert-container {
    width: 502px;
    height: 520px;
    border-radius: 20px;
    background-color: #fff;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* 테이블 스타일링 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.alert-header {
    display: flex;
    justify-content: space-between; /* h1과 버튼을 양쪽 끝에 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 0px; /* 아래쪽 여백 */
  }
  
  .refresh-button {
    width: 37px;
    height: 37px;
    margin-right: 27px;
    background-color: #EEF7FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .refresh-button img {
    width: 24px;
    height: 24px;
  }
  

th {
    border-bottom: 1px solid #E9EDF7;
    font-size: 14px ;
    font-family: 'Pretendard';
    font-weight: 600;
    margin-bottom: 6px;
    color: #A3AED0; /* 글자 색상 설정 */
    padding: 12px 8px;
    text-align: center;
}

td {
    border-bottom: 0px solid #fff;
    padding: 12px 8px;
    text-align: left;
}

/* 테이블 행 스타일링 */
td img {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* 아이콘과 텍스트 사이에 간격 추가 */
}

/* 텍스트와 이미지 나란히 배치 */
.status-cell {
    display: flex;
    align-items: center;
    padding-left: 30px;

}

/* 알림 메시지 텍스트 색상 설정 */
td {
    color: #707eae;
}

/* DB 연결 실패 시 표시되는 스타일 */
.alert-error {
    color: red;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

h1 {
    margin: 0;
    padding: 28px;
    font-size: 24px;
    font-weight: 600;
    color: #0231A6;
}

.bottomMargin {
    height: 50px; /* 원하는 높이로 설정 */
    width: 100%;
  }
  