.calendar-container {
  width: 347px;
  height: 346px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Similar to soft shadows */
  overflow: hidden;
  font-family: Pretendard, sans-serif; /* Assuming Pretendard is the desired font */
}

.react-calendar {
  width: 100%;
  height: 100%;
}

.react-calendar__tile {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 14px;
  font-weight: bold;
}

.react-calendar__navigation button {
  font-size: 16px;
  font-weight: bold;
}

.react-calendar__navigation__label {
  font-size: 18px;
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  padding: 5px;
}

.react-calendar__tile--now {
  border: 2px solid #0231A6; /* Today (blue border) */
  border-radius: 50%;
}

/* High progress (dark blue) */
.progress-high {
  background-color: #0231A6;
  color: white;
  border-radius: 50%;
}

/* Medium progress (lighter blue) */
.progress-medium {
  background-color: #707eae;
  color: white;
  border-radius: 50%;
}

/* Low progress (light blue) */
.progress-low {
  background-color: #accbff;
  color: white;
  border-radius: 50%;
}

/* Change hovered state for smooth transitions */
.react-calendar__tile:hover {
  background-color: #eef7ff;
  cursor: pointer;
}
