/* 투두 리스트의 메인 컨테이너 */
.todo-list {
  background-color: #fff; /* 리스트의 밝은 배경 색상 */
  border-radius: 20px; /* 컨테이너의 모서리를 둥글게 */
  padding: 0px; /* 컨테이너 내부 패딩 */
  width: 100%; /* 기본 너비 설정 */
  min-width: 298px;
  max-width: 298px; /* 최소 및 최대 너비 298px로 설정 */
  min-height: 346px;
  max-height: 346px; /* 최소 및 최대 높이 346px로 설정 */
  border: 1px solid rgba(0, 0, 0, 0.1); /* 테두리 */
  font-family: Pretendard, sans-serif; /* Pretendard 폰트 적용 */
}


.todo-items {
  margin: 24px 20px 21px 28px;
}

/* Header 그룹을 위한 스타일 */
.header-group {
  display: flex; /* 아이콘과 텍스트를 가로로 정렬 */
  align-items: center; /* 아이콘과 텍스트를 수직 중앙에 정렬 */
}

.header-group img {
  margin-right: 16px; /* 노트 아이콘과 텍스트 사이의 간격을 16px로 설정 */
}

/* 헤더 섹션 스타일 */
.todo-header {
  display: flex; /* 플렉스 박스로 아이템들을 가로로 정렬 */
  align-items: center; /* 아이템들을 수직으로 중앙에 배치 */
  justify-content: space-between; /* 타이틀과 옵션 사이의 공간 */
  margin-bottom: 23px; /* 헤더 아래 여백 */
}

/* "오늘의 기록" 타이포그래피 스타일 */
.todo-header h2 {
  color: var(--blue-900, #072182); /* 기본적으로 지정된 블루 색상 */
  font-family: Pretendard, sans-serif; /* Pretendard 폰트 적용 */
  font-size: 18px; /* 폰트 크기 */
  font-style: normal; /* 기울임 없음 */
  font-weight: 600; /* 폰트 두께 600 */
  line-height: 30px; /* 줄 간격 30px */
  letter-spacing: -0.36px; /* 글자 간격 좁히기 */
  margin: 0; /* 기본 마진 제거 */
}

/* 더보기 아이콘 컨테이너 스타일 */
.more-options {
  background-color: #eef7ff; /* 원하는 배경색 */
  width: 30px; /* 고정된 너비 */
  height: 30px; /* 고정된 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.more-options img {
  width: 20px;
  height: 20px;
}

/* 할 일 목록 아이템 스타일 */
ul {
  list-style-type: none; /* 기본 불릿 포인트 제거 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
}

li {
  display: flex; /* 체크박스와 텍스트를 가로로 정렬 */
  align-items: center; /* 아이템을 수직으로 중앙 정렬 */
  margin-bottom: 12px; /* 목록 아이템 간의 간격 */
  color: var(--blue-gray, #a3aed0); /* 블루 그레이 색상 적용 */
  font-size: 14px; /* 폰트 크기 14px */
  font-style: normal; /* 기울임 없음 */
  font-weight: 400; /* 폰트 두께 500 */
  line-height: 28px; /* 줄 간격 28px (200%) */
  letter-spacing: -0.28px; /* 글자 간격 좁힘 */
}

/* 완료된 할일 타이포그래피 스타일 */
li.completed span {
  color: var(--blue-900, #072182); /* 블루 색상 적용 */
  font-family: Pretendard, sans-serif; /* Pretendard 폰트 적용 */
  font-size: 14px; /* 폰트 크기 14px */
  font-style: normal; /* 기울임 없음 */
  font-weight: 400; /* 폰트 두께 500 */
  line-height: 28px; /* 줄 간격 28px (200%) */
  letter-spacing: -0.28px; /* 글자 간격 좁힘 */
}

/* 체크박스 아이콘 스타일 */
.checkbox-icon {
  margin-right: 10px; /* 체크박스와 할 일 텍스트 사이의 간격 */
  display: flex;
  align-items: center; /* 아이템을 수직으로 중앙 정렬 */
}
