.video-stream-container {
    width: 826px;
    height: 520px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    box-sizing: border-box;
}

/* 위 구역 */
.video-stream-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 28px;
}

.stream-title {
    color: var(--blue-800, #0231A6);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
}

.mode-container {
    display: flex;
    align-items: center;
}

.mode-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.stream-mode {
    font-size: 20px;
    color: #8F95B5; /* 예시 색상 */
}

/* 아래 구역 */
.video-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 770px;
    height: 403px;
    border-radius: 20px;
    background-color: #cccccc; /* 기본 회색 배경 */
    object-fit: cover;
    position: relative;
}

.video-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover; /* 이미지가 공간을 채우도록 설정 */
}

.no-signal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #cccccc; /* 신호 없을 때의 배경색 */
    color: #ffffff; /* 신호 없음 텍스트 색상 */
    font-size: 24px;
}
