.workspace-container {
    display: flex;
    justify-content: space-between; /* 좌우 구역을 양 끝으로 배치 */
    align-items: center;
    width: 100%;
    max-width: 1350px;
    min-width: 1350px;
    padding: 0px 0px; /* 위아래 패딩 */
    margin: 0px auto;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
  }
  
  .page-text {
    color: #707eae; /* 텍스트 색상 */
    font-size: 14px; /* 폰트 크기 */
    font-weight: 500; /* font-weight: medium */
    margin: 0;
  }
  
  .main-dashboard {
    color: #072182; /* 텍스트 색상 */
    font-size: 34px; /* 폰트 크기 */
    font-weight: bold; /* font-weight: bold */
    margin: 2px 0 0 0; /* 위쪽 약간의 간격 */
    padding: 0px;
  }
  
  