.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* 요소 간 간격 */
  padding: 10px;
  border-radius: 30px;
  background-color: var(--primary-white); /* 컨테이너의 배경색 */
  margin-right: 14px;
  box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
}

.header-search-bar {
  display: flex;
  align-items: center;
  background-color: var(--button-blue50);
  border-radius: 30px;
  padding: 6px;
}

.header-search-icon {
  width: 15px !important;
  height: 15px !important;
  margin-right: 6px;
}

.header-search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: var(--text-gray3);
}

.header-icon-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 6px;
}

.header-profile-icon {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--button-blue50);
  border-radius: 50%;
}
