.header-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 30px;
<<<<<<< HEAD
  background-color: #fff;
=======
  background-color: #fff; /* 컨테이너의 배경색 */
>>>>>>> BJP
  margin-right: 14px;
}

.header-search-bar {
  display: flex;
  align-items: center;
  background-color: #eef7ff;
  border-radius: 30px;
  padding: 10px 12px;
}

.header-search-icon {
  width: 15px !important;
  height: 15px !important;
  margin-right: 11px;
}

.header-search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #6c757d;
}

.header-icon-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
