.medication-info-container {
  width: 907px;
  height: 475px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 86px;
}

.medication-info-title {
  font-size: 24px;
  font-weight: 600;
  color: #0231a6;
  margin: 25px 0 25px 31px;
  padding: 0;
  text-align: left;
}

.medication-info-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.medication-info-table th,
.medication-info-table td {
  padding: 4px 12px;
  vertical-align: top; /* 상단 정렬 */
}

.medication-info-table th {
  /* border-bottom: 1px solid #e9edf7; */
  font-size: 14px;
  color: #a3aed0;
  font-weight: 300;
  padding-bottom: 15px;
  white-space: nowrap; /* 줄바꿈 방지 */
  text-align: left;
}

.pill-img img {
  width: 50px;
  height: auto;
  object-fit: contain;
  padding-left: 4px;
  padding-top: px;
}

.pill-img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  margin: 0;
  padding: 0;
}

/* 약품명/성분 및 복약 안내 컬럼에 적용할 왼쪽 정렬 */
.medication-info-left-align {
  text-align: left;
}

.medication-info-table tbody td {
  font-size: 12px; /* 원하는 폰트 크기로 변경 */
  font-weight: 300; /* 원하는 폰트 굵기로 변경 */
  color: #2b3674; /* 원하는 폰트 색상으로 변경 */
  line-height: 1.5;
}

.pill-name {
  font-weight: 400 !important;
  color: #2b3674 !important;
  font-size: 14px !important;
}

.pill-count {
  text-align: center;
  vertical-align: top; /* 상단 정렬 */
}
