html {
  overflow-y: scroll;
}

.monitoring-container {
  max-width: 1350px; /* 작업 공간의 최대 너비를 1350px로 설정 */
  margin: 55px auto 0px auto; /* 위쪽에 55px의 마진, 좌우 중앙 정렬 */
  padding-left: 320px; /* 내부 여백을 추가할 경우 */
  padding-right: 70px;
  background-color: transparent; /* 배경색을 설정할 경우 */
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  gap: 36px; /* 섹션 사이 간격 */
}

.content-section-monitoring {
  display: flex; /* 좌우 배치를 위한 flexbox */
  flex-direction: row; /* 좌우 배치 */
  justify-content: space-between; /* 두 섹션을 좌우 끝에 배치 */
  width: 100%;
  gap: 20px; /* 좌우 섹션 간의 간격 */
}

.left-section-monitoring {
  width: 826px;
  display: flex;
  flex-direction: column; /* 위아래로 정렬 */
  gap: 20px; /* 위아래 간격을 20px로 설정 */
}


.right-section-monitoring {
  width: 502px; /* 오른쪽 섹션의 너비 */
}
