.icon-message-container {
    width: 502px;
    height: 402px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

.icon-message-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon-message-contents {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    justify-content: center;
    align-items: center; /* 가로로도 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    gap: 12px;
}

.icon-message-contents h1 {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: Bold;
    color: #2B3674;
}

.icon-message-contents p {
    font-size: 16px;
    color: #8f95b5;
    margin: 0px;
}
