html, body, #root, .app-container {
  height: 100%; /* 전체 높이를 100%로 설정 */
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  height: 120%; /* 부모 컨테이너의 전체 높이를 차지하도록 설정 */
}

.content {
  flex-grow: 1; /* 나머지 공간을 콘텐츠가 채우도록 설정 */
  padding: 0;
}

body {
  background-color: #f4f7fe;
  font-family: 'Pretendard', sans-serif;
}
