:root {
  /* 기본 색상 팔레트 */
  --color-blue-900: #072182; /* var(--text-blue900) */
  --color-blue-800: #0231a6; /* var(--text-blue800) */
  --color-blue-600: #0062e5; /* var(--primary-blue) */
  --color-blue-gray-1: #a3aed0; /* var(--text-gray1) */
  --color-blue-gray-2: #8f95b5; /* var(--text-gray2) */
  --color-blue-gray-3: #6b7698; /* var(--text-gray3) */
  --color-blue-gray-4: #707eae; /* var(--text-gray4) */
  --color-blue-gray-5: #2b3674; /* var(--text-gray5) */
  --color-gray-50: #fafafa; /* var(--button-gray50) */
  --color-blue-50: #eef7ff; /* var(--button-blue50) */
  --color-blue-100: #cbe8ff; /* var(--button-blue100) */
  --color-blue-200: #a7d9ff; /* var(--button-blue200) */
  --color-blue-300: #68bbff; /* var(--button-blue300) */
  --color-blue-400: #329cff; /* var(--button-blue400) */
  --color-blue-500: #067dfd; /* var(--button-blue500) */
  --color-red-400: #ff5454; /* var(--button-red) */
  --color-red-500: #ef2b2a; /* var(--button-redhover) */
  --color-green-400: #05cd99; /* var(--button-green) */
  --color-border-gray: #e0e5f2; /* var(--border-color) */
  --color-border-gray2: #e9edf7; /* var(--color-border-gray2) */
  --color-border-gray3: #e6e6e6; /* var(--color-border-gray3) */
  --color-background: #f4f7fe; /* var(--background-color) */
  --color-background-black: #323232; /* var(--background-black) */
  --color-background-gray: #ccc; /* var(--background-gray) */
  --color-white: #ffffff; /* var(--primary-white) */

  /* 역할별 변수 */
  --text-blue900: var(--color-blue-900);
  --text-blue800: var(--color-blue-800);
  --primary-blue: var(--color-blue-600);
  --primary-white: var(--color-white);
  --text-gray1: var(--color-blue-gray-1);
  --text-gray2: var(--color-blue-gray-2);
  --text-gray3: var(--color-blue-gray-3);
  --text-gray4: var(--color-blue-gray-4);
  --text-gray5: var(--color-blue-gray-5);
  --button-gray50: var(--color-gray-50);
  --button-blue50: var(--color-blue-50);
  --button-blue100: var(--color-blue-100);
  --button-blue200: var(--color-blue-200);
  --button-blue300: var(--color-blue-300);
  --button-blue400: var(--color-blue-400);
  --button-blue500: var(--color-blue-500);
  --button-red: var(--color-red-400);
  --button-redhover: var(--color-red-500);
  --button-green: var(--color-green-400);
  --border-color: var(--color-border-gray);
  --border-color2: var(--color-border-gray2);
  --border-color3: var(--color-border-gray3);
  --background-color: var(--color-background);
  --background-black: var(--color-background-black);
  --background-gray: var(--color-background-gray);
}

html,
body,
#root,
.app-container {
  height: 100%; /* 전체 높이를 100%로 설정 */
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  height: 100%; /* 부모 컨테이너의 전체 높이를 차지하도록 설정 */
}

.content {
  flex-grow: 1; /* 나머지 공간을 콘텐츠가 채우도록 설정 */
  padding: 0;
}

body {
  background-color: #f4f7fe;
  font-family: "Pretendard", sans-serif;
}
