.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #323232;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* transition 시간을 짧게 조정 */
    z-index: 999; /* 최상단 레이어로 설정 */
}

.notification.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* show 상태에서의 transition */
}
