/* 전체 컨테이너의 스타일 */
.option-container {
  background-color: var(--primary-white); /* 배경색 */
  border-radius: 20px; /* 모서리 둥글게 처리 */
  width: 502px;
  height: 400px;
  display: flex;
  flex: 1;
  margin-top: 20px;
}

.video-options {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  gap: 17px; /* 각 항목 사이 간격 */
  margin: 32px 24px 35px 23px;
  width: 100%;
}

.option-item {
  display: flex;
  justify-content: space-between; /* 텍스트와 아이콘을 좌우로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 0px 28px;
  background-color: var(--primary-white); /* 항목 배경색 */
  border-radius: 16px; /* 모서리 둥글게 처리 */
  box-shadow: 0px 18px 40px 0px rgba(112, 144, 176, 0.05);
  height: 70px; /* 모든 항목의 높이를 고정 */
  cursor: pointer;
}

/* option-item에 마우스를 올렸을 때 색상 변경 */
.option-item:hover {
  background-color: var(
    --button-blue50
  ); /* 마우스를 올리면 하얀색에서 #EEF7FF로 변경 */
}

/* 영상 백업과 마지막 백업만 text-content로 그룹화 */
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 텍스트 부분 스타일 */
.option-item h3 {
  color: var(--text-blue900);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
  margin: 0px;
  padding: 0px;
  margin-bottom: -3px; /* h3과 p 사이 간격을 -3px로 설정 */
}

/* 서브 텍스트 (예: 마지막 백업 날짜) 스타일 */
.option-item p {
  color: var(--text-gray1);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.24px;
  margin: 0px;
}

/* 아이콘 부분 스타일 */
.icon-content {
  display: flex; /* 플렉스박스 레이아웃 적용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 (선택 사항) */
}

/* 아이콘 부분 스타일 */
.icon-content img {
  width: 24px; /* 아이콘 너비 */
  height: 24px; /* 아이콘 높이 */
}

/* 긴급 연락망 항목의 스타일 (emergency 클래스 적용 시) */
.emergency h3 {
  color: var(--button-red);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
  margin: 0px;
}
