body {
    font-family: 'Pretendard', Arial, sans-serif;
  }
  
  .sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100%; /* 부모 요소 높이에 맞게 사이드바 높이 자동 설정 */
    background-color: #fff;
    padding: 0;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 22px;
    margin-top: 22px;
  }
  
  .logo img {
    width: 167px;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* 기본 마진 없애기 */
  }
  
  .sidebar-nav ul li {
    margin-bottom: 0px;
  }
  
  .sidebar-nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #A3AED0; /* 기본 텍스트 색상 */
    display: flex;
    align-items: center;
    padding: 10px 33px;
    border-radius: 10px; /* 둥근 테두리 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 */
    position: relative; /* ::after를 위치시키기 위해 relative로 설정 */
    width: 250px;
    box-sizing: border-box;
  }
  
  /* 기본 아이콘 스타일 - 비활성화 상태일 때 색상 */
  .sidebar-nav ul li a img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    filter: grayscale(100%) brightness(2); /* 기본 색상 A3AED0 */
    transition: filter 0.3s ease;
  }
  
  /* 활성화 상태일 때 아이콘 색상 */
  .sidebar-nav ul li a.active img {
    filter: none; /* 활성화 시 필터 제거, 원래 색상 표시 */
  }
  
  /* 호버 시 아이콘 색상 변경 */
  .sidebar-nav ul li a:hover img {
    filter: none; /* 호버 시 필터 제거, 원래 색상 표시 */
  }
  
  .sidebar-nav ul li a.active {
    color: #072182; /* 활성화된 링크 텍스트 색상 */
    font-size: 16px;
    font-weight: bold;
  }
  
  /* 우측에 4px x 36px 바 추가 */
  .sidebar-nav ul li a.active::after {
    content: "";
    position: absolute;
    right: 0; /* 우측 끝에 배치 */
    top: 50%; /* 수직 중앙에 배치 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    width: 4px;
    height: 40px;
    background-color: #0062E5; /* 바의 색상 */
    border-radius: 2px; /* 바의 모서리를 둥글게 */
  }
  
  .sidebar-nav ul li a:hover {
    background-color: #EEF7FF;
    color: #072182; /* 호버 시 텍스트 색상 */
  }
  
  /* 세트 간 구분선 */
  .divider {
    border: none;
    border-top: 1px solid #EEF7FF;
    margin: 20px 0; /* 세트 사이의 간격 */
  }
  